/* CSS Document */

body, html { width:100%; height:100%; margin:0; padding:0; font-family: 'Roboto Slab', serif; position:absolute;}

ul li, ul li span:last-child
{ transition:all 500ms; -moz-transition:all 500ms; -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms;}

aside { width:300px; background:#111111; height:100%; position:fixed; top:0; left:0; bottom:0;}
ul { margin:0; padding:0; counter-reset: li;}
ul li { list-style:none; border-bottom:1px solid #222222; height:52px; color:#666; position:relative; overflow:hidden; text-align:center;}
ul li:hover { color:#fff; cursor:pointer;}
ul li span { display:block; padding:15px; position:absolute; top:0; left:0; right:0; bottom:0;}


ul li span:first-child { z-index:2;}
ul li span:last-child { padding:0; display:block; background:#ff6600; z-index:1; position:absolute; top:0; left:-300px; bottom:0; width:300px; height:52px;}
ul li:hover > span:last-child { left:0;}
